/* General styles */
body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */

header {
    display: flex;
    background-color: #ffffff;
    color: #333;
    padding: 20px;
}

/* Featured movie section styles */
/* TODO spacing between img and info */

#featuredMovie {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #f4f4f4;
    overflow: hidden;
}

/* .featuredMovieInfo {not currently used} */

/* Add a movie button and form */

.add-movie {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    right: 20px;

}

button#addMovieBtn {
    background-color: #ff3333;
    color: white;
    font-size: 24px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button#addMovieBtn:hover {
    background-color: #3cc1e9;
}

.hidden {
    display: none;
}

#movieForm {
    margin-top: 20px;
}

.form-field {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
}

.form-field input,
.form-field textarea {
    margin-bottom: 10px;
    padding: 10px;
}

#saveMovieBtn {
    font-size: 18px;
}

/* Movie genre section styles */

.movie-genre {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.movie-row {
    display: flex;
    overflow-x: auto;
    flex-wrap: wrap;
}

.movie-box {
    width: 200px;
    height: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.movie-box img {
    width: 100%;
    height: auto;
}

/* Footer */
footer {
    margin-top: 50px;
}